<div class="column gap-1 wrapper">
    <!-- <img src="/client/src/assets/images/products/image1.jpg" alt="product.name"> -->
    <img [src]="product.image" alt="product.name">
    <!-- <img [src]="imageUrl" alt="product.name"> -->
    <h2 class="'title">{{product.name}}</h2>

    <div class="row gap-05">
        <span class="price-label">Price:</span>
        <span class="price">{{product.price}}</span>
    </div>

    <p-rating
        [(ngModel)]="product.rating" 
        [readonly]="true" 
        [cancel]="false"
        iconCancelClass="hidden"
    ></p-rating>

    <div class="row gap-1">
        <button type="button" pButton icon ="pi pi-pencil" (click)="editProduct()" label="Edit"></button>
        <button type="button" pButton icon ="pi pi-pencil" (click)="deleteProduct()" label="Delete"></button>
    </div>
</div>